<template>
    <div>
        <!-- filters -->
        <div class="w-100">
            {{ name }}
        </div>
        <!-- table -->
        <el-table
            v-loading="usersLoading"
            :data="users"
            highlight-current-row
            class="w-100"
            size="small"
            :row-class-name="rowClassName"
        >
            <el-table-column
                prop="id"
                label="Id"
                width="80"
            />
            <el-table-column
                prop="name"
                label="Name"
                min-width="200"
                sortable
            >
                <template slot-scope="scope">
                    <span class="el-link--inner item_name">
                        {{ scope.row.name }}
                    </span>
                </template>
            </el-table-column>
        </el-table>


        <!-- pagination -->
        <el-pagination
            v-if="showPaginator"
            :current-page.sync="page"
            :page-size.sync="pageSize"
            :total="total"
            layout="sizes, prev, pager, next"
            class="float-right mt-3 mb-3"
        />
    </div>
</template>

<script>
import {USER_FETCH, USER_OBTAIN} from '../store/types'
import userApi from "@/modules/user/api";


export default {
    name:'Table',
    data() {
        return {
            sortBy: 'id,asc',
            sortOrders: ['ascending', 'descending'],
            page: 1,
            pageSize: 10,
            formData: null,
            users: this.data,
            usersMeta: this.dataMeta,
            usersLoading: this.dataLoading
        }
    },
    props: {
        name: {
            type: String,
            default: 'Table'
        },

        data: {
            type: Array,
            default: []
        },

        dataMeta: {
            type: [Object, Array],
            default: () => { return {} }
        },

        dataLoading: {
            type: Boolean,
            default: true
        },

        paginator: {
            type: Boolean,
            default: false
        },

        rowClassName: {
            type: String,
            default: ''
        },
    },
    computed: {
        total(){
            if(this.usersMeta === undefined) return this.users.length
            return this.usersMeta.total || this.users.length
        },
        showPaginator(){
            return this.paginator
        },
    },
    created() {

    },
    watch:{
        page: function () {
            this.fetchData()
        },
        pageSize: function () {
            this.fetchData()
        },
        data: function () {
            this.users = this.data
        },
        dataMeta: function () {
            this.usersMeta = this.dataMeta
        },
        dataLoading: function () {
            this.usersLoading = this.dataLoading
        },
    },
    methods: {
        handleSortChange(val) {
            if (val.prop != null && val.order != null) {
                let sort = val.order.startsWith('a') ? 'asc' : 'desc'
                this.sortBy = val.prop + ',' + sort
                this.fetchData()
            }
        },
        handleFilterChange() {
            this.fetchData()
        },
        async fetchData() {
            this.usersLoading = true

            let params = {
                page: this.page,
                sortBy: this.sortBy,
                pageSize: this.showPaginator ? this.pageSize : 0
            }

            const response = await userApi.all(params)
            const data = response.data

            this.users = data.data
            this.usersMeta = data.meta

            this.usersLoading = false
        },
    },
}
</script>
<style lang="scss">
@import "~element-ui/packages/theme-chalk/src/common/var";
.el-table .warning-row {
    background-color: $--color-warning-lighter;
}
.el-table .success-row {
    background-color: $--color-success-lighter;
}
.el-table .danger-row {
    background-color: $--color-danger-lighter;
}
</style>
