<template>
    <section id="tables">
        <el-col
            v-for="n in 3"
            :key="n"
            :span="8"
            :xs="24"
        >

            <Table
                :name="tableNames[n-1]"
                :data="users"
                :data-loading="usersLoading"
                :data-meta="usersMeta"
                :paginator="showPaginator"
                :row-class-name="rowClasses[n-1]"
            />
        </el-col>
    </section>
</template>

<script>
import Table from './Table'
import {mapActions, mapGetters, mapMutations} from 'vuex'
import {USER_FETCH, USER_OBTAIN, USER_SET_PAGINATE} from '@/modules/user/store/types'

export default {
    name:'Tables',
    components: { Table },

    data() {
        return {
            sortBy: 'id,asc',
            page: 1,
            rowClasses: ['success-row', 'warning-row', 'danger-row']
        }
    },
    computed: {
        ...mapGetters(['users', 'usersMeta', 'usersLoading', 'showPaginator']),
        pageSize(){
            return this.$route.meta.paginate ? 10 : 0
        },
        tableNames(){
            return this.$route.meta.tableNames || ['Table 1','Table 2','Table 3']
        },
    },
    created() {
        if(
            this.users.length === 0
            || (this.showPaginator !== this.$route.meta.paginate)
        )
            this.fetchData()
    },
    mounted() {
        this.setPaginator(this.$route.meta.paginate)
    },
    watch:{

    },
    methods: {
        ...mapActions([USER_FETCH]),
        ...mapMutations([USER_OBTAIN, USER_SET_PAGINATE]),

        fetchData() {
            let params = {
                page: this.page,
                sortBy: this.sortBy,
                pageSize: this.pageSize
            }

            this[USER_FETCH](params)
        },

        setPaginator(show){
            this[USER_SET_PAGINATE](show)
        }
    },
}
</script>
