<template>
    <el-col
        :span="24"
        class="header"
    >
        <el-col
            :span="10"
            class="logo"
            :class="coreIsCollapsed?'logo-collapse-width':'logo-width'"
        >
            {{ coreIsCollapsed ? '' : config.appName }}
        </el-col>
        <el-col :span="10">
            <div
                class="tools"
                @click.prevent="collapse"
            >
                <i class="fa fa-align-justify" />
            </div>
        </el-col>
    </el-col>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'
import {TOGGLE_COLLAPSE} from '../store/types'

export default {
    data: () => ({

    }),
    methods: {
        ...mapMutations([TOGGLE_COLLAPSE]),
        collapse() {
            this[TOGGLE_COLLAPSE]()
        },
    },
    mounted() {

    },
    computed: {
        ...mapGetters(['coreIsCollapsed'])
    }
}
</script>
